body {
    background-color: #e3e6e3;
    padding: 0;
    margin: 0;
  }
  #navbar {
    width: 1100px;
    height: 50px;
    margin: auto;
    margin-top: 100px;
 
    background-color: teal;
    display: flex;
    justify-content: space-between;
    gap:9px;
    color: white;
    padding-left: 10px;
    font-size: 14px;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
  }
  #navbar > div {
    padding-top: 18px;
  }

  #navbar > div:hover {
    background-color: rgb(6, 150, 150);
  }
     
  #navbar > div:nth-child(1) {
    padding-top: 5px;
    margin-bottom: 8px;
  }
  #navbar > div:nth-child(1):hover {
    background-color: teal;
  }
  #navbar > div:nth-child(12) {
   
    padding: 12px;
    padding-left: 2px;
    width:50px;
    display: flex;
    
  }
  #navbar > div:nth-child(12):hover{
    background-color: teal;
    cursor: pointer;

  }


  img {
    width: 100px;
    height: 100%;
  }
  #plusBtn {
    height: 35px;
    width: 120px;
    padding: 0;
    margin-top: 7px;
    border-radius: 30px;
    border: none;
  }
  #footerMain {
    width: 100%;
    height: 300px;
    background-color: rgb(87, 85, 85);
    color: white;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
  }
  #upperfooter {
    display: flex;
    border-bottom: 1px solid black;
    height: 85%;
    font-size: 14px;
    font-weight: 400;
  }
  #upperleft {
    flex: 1;
    /* border: 1px solid red; */
    height: 60px;
  }
  #upperleft > img {
    margin-left: 240px;
  }
  #upperright {
    flex: 3;
    /* border: 1px solid green; */
    display: flex;
    justify-content: left;
    gap: 150px;
    margin-left: 30px;
    line-height: 27px;
  }

  #lowerfooter {
    text-align: center;
    font-size: 12px;
  }
  .live {
    cursor: pointer;
    display: inline;
  }
  .livedrpdwn {
    position: relative;
    display: inline;
  }

  .dropdown p:hover {
    color: rgb(138, 126, 126);
    cursor: pointer;
  }
  .dropdown {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 110px;
    padding: 10px;
    z-index: 1;
  }
  .livedrpdwn:hover .dropdown {
    display: block;
  }

  .livedrpdwn:hover .live {
    background-color: transparent;
  }
  .dropdown > p {
    color: black;
  }
  .series {
    min-width: 270px;
  }
  .signout{
    min-width:100px;
  }

  .livedrpdwn > div:nth-child(1) {
    display: flex;
  }

  #first_col {
    display: flex;
    color: black;
    justify-content: space-around;
  }
  #matches{
    display:flex;
    justify-content: left;
    gap:10px;
    width:1109px;
    height:45px;
    margin: auto;

    background-color: gray;
    color: white;
   
    font-size: 14px;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;

    
  }
  #matches>div{
 
    padding-top: 13px;
    width:160px;
    text-align: center;
  }
  #matches>div:hover{
    background-color: rgb(97, 95, 95);
  }
  #details{
    width:1110px;
    margin:auto;
    margin-top:5px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 200px);
    grid-gap:5px;
    grid-template-areas: 
    "a a a a a a a a a a a a"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "b b b c c c c c d d d d"
    "e e e c c c c c d d d d"
    "e e e c c c c c d d d d"
    "e e e c c c c c d d d d"
    "e e e c c c c c d d d d"
    "e e e c c c c c d d d d";
  }
  #details>div{
    background-color: white;
   
  }
  #details>div:nth-child(1){
    grid-area:a;
  }
  #details>div:nth-child(2){
    grid-area: b;
  }
  #details>div:nth-child(3){
    grid-area: c;
  }
  #details>div:nth-child(4){
    grid-area: d;
  }
  #details>div:nth-child(5){
    grid-area: e;
  }
 
  #featured{
    padding-left:20px ;
    
    width:100%;

    height:50px;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;  
    
  }

#fourpart{
  display:flex ;
  justify-content: space-between;
  gap:10px;
  height:80px;
  padding:20px;
}
#fourpart>div{
  border-right:1px solid green;
  width:25%;
  height:100%;
}
.runs{
  width:60%;
  display: flex;
  justify-content: space-between;
  font-family: helvetica, "Segoe UI", Arial, sans-serif;  
  height:20px;
  margin-top: 5px;
  vertical-align: top;
}
.runs>p{
 font-size: 14px;
 margin-top: 10px;


}
.results{
  color:blue;
}
.red{
  color:red;
}
